body{
    background-color: black;
}

button{
    cursor: pointer;
}

#header{
    background-color: blue;
    display: flex;
}

#menu{
    background-color: pink;
    width: 10%;
}

#game{
    padding: 5%;
}

section{
    padding: 0.5%;
    display: flex;
    height: 10vh;
}

.secret{
    background-color: gray;
    width: 100%;
}

.attempt{
    background-color: green;
    width: 80%;
    height: 100%;
}

.score{
    background-color: red;
    width: 20%;
    height: 100%;
}

#current{
    background-color: lime;
    width: 80%;
    height: 100%;
}

#colors{
    background-color: purple;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

#enter{
    background-color: orange;
    width: 20%;
    height: 100%;
}